@{
    ViewData["Title"] = "Магазин комплектующих";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Магазин компьютерных комплектующих</title>
</head>
<body>
    <a href="/Countries/Index">Страны</a>
    <a href="/Manufacturers/Index">Производители</a>
    <a href="/ComponentTypes/Index">Типы компонентов</a>
    <a href="/Components/Index">Компоненты</a>
</body>
</html>
