@model WebApplication.ViewModels.CreateCinemaViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Create</h1>

<h4>Cinema</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input hidden name="id" value="@ViewBag.Cinems" />

            <div class="form-group">
                <label>Name</label>
                <input name="name" class="form-control" />
            </div>

            <div class="form-group">
                <label>City</label>
                <select name="cityId" asp-items="Model.Cities">
                </select>
            </div>

            <div class="form-group">
                <label>Type</label>
                <select name="typeId" asp-items="Model.Types">
                </select>
            </div>

            <div class="form-group">
                <label>Capacity</label>
                <input type="number" name="capacity" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
