@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <form method="post" action="~/Home/UploadMessage">
            <input name="text" /><br />
            <input type="submit" value="Записать текст в очередь" />
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post" action="~/Home/DownloadMessage">
            <input type="submit" value="Достать текст из очереди" />
        </form>
    </div>
</div>
@ViewData["result"]