@model IEnumerable<ComputerShopMvc.Models.ComponentType>
    @{
        ViewData["title"] = "Список типов компонентов";
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <title>Список типов компонентов</title>
    </head>
    <body>
        <h3>Типы компонентов</h3>
        <table>
            <tr>
                <td>Название типа компонента</td>
                <td>Описание типа компонента</td>
            </tr>
            @foreach (var componentType in Model)
            {
                <tr>
                    <td>@componentType.ComponentTypeName</td>
                    <td>@componentType.ComponentTypeDescription</td>
                </tr>
            }
        </table>
    </body>
    </html>
